/*fonts*/
@font-face {
    font-family: 'gardena_regular';
    src: url('fonts/gardena-webfont.woff2') format('woff2'),
        url('fonts/gardena-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'michella_gardenregular';
    src: url('fonts/michella_garden-webfont.woff2') format('woff2'),
        url('fonts/michella_garden-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'homegarden_sansregular';
    src: url('fonts/homegarden_sans-webfont.woff2') format('woff2'),
        url('fonts/homegarden_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'default_sansregular';
    src: url('fonts/defaultsans-regular-webfont.woff2') format('woff2'),
        url('fonts/defaultsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gardenscregular';
    src: url('fonts/gardensc_03_1-webfont.woff2') format('woff2'),
        url('fonts/gardensc_03_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*-------*/
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/body.jpg');
}

a {
    font-family: 'gardenscregular';
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #63a545;
    font-weight: bold;
    font-size: 1.05vmax;
    transition: all .3s;
}


.cA {
    font-size: 2vmax;
    color: #63a545;
    position: relative;
    background-color: rgba(0, 0, 0, .50);
    padding: 2%;
    margin-top: 5%;
}

.cA:hover {
    font-size: 2vmax;
    padding: 3%;
    letter-spacing: 3px;
    text-align: center;
    transition: all .5s;
}

.cA span {
    position: absolute;
    display: block;
    background: #63a545;
}

.cA span:nth-child(1) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .3s;
}

.cA:hover span:nth-child(1) {
    transform: scaleX(1);
}

.cA span:nth-child(2) {
    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform: scaleY(0);
    transition: transform .3s;
}

.cA:hover span:nth-child(2) {
    transform: scaleY(1);
}

.cA span:nth-child(3) {
    right: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform: scaleY(0);
    transition: transform .3s;
}

.cA:hover span:nth-child(3) {
    transform: scaleY(1);
}

.cA span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .3s;
}

.cA:hover span:nth-child(4) {
    transform: scaleX(1);
}

.image {
    width: 40vmax;

}

.flex {
    display: flex;
}
.logo {
    width: 45vmax;
    background-color: rgba(0, 0, 0, .90);
    border-radius: 30px;
    transition: all .5s;
    border-style: solid;
    border-color: #d6fdd0;
}

.pageBottom {
    font-size : 3em;
    color: #99bf93;
    transition: all .5s;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}
.pageBottom a:hover{
    color: none;
    font-weight: none;
    font-size: none;

    
}
.bxs-home-alt-2:hover, .bxs-message-dots:hover {
    color: #2c4223;
    font-size : 3em;
    transition: all .5s;
    
    
    
}
/*Header*/
header {
    width: 100%;
    height: 30vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/header_bg.jpg");
    /*https://fr.best-wallpaper.net/Garden-green-bushes-clouds-flowers_wallpapers.html*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    z-index: 9999;
    box-shadow: 0px 5px 5px black;
    flex-direction: column;
    padding-top: 3%;
}

header .bottom {
    width: 100%;
    height: 100%;
    display: flex;
}

/*Navbar*/
navbar {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 100%;
    height: 3vmax;
    gap: 20px;
    font-size: .9vmax;
    background-color: rgba(0, 0, 0, .50);
    font-family: 'default_sansregular';
    color: white;
    z-index: 99999;
    transition: all .5s;
}

.navbarScroll {
    background-color: rgba(0, 0, 0, .90) !important;

}

.navFixed {
    position: fixed;
    top: 0;
}

navbar p {
    text-align: center;
}

navbar a {
    width: 33%;
    transition: all .3s;
    -webkit-text-stroke: #5e924c .4px;

}


navbar:hover {
    background-color: rgba(0, 0, 0, .90);
    transition: all .5s;
}

/*-------*/

/*Main*/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pContent {
    font-size: 1.9vmax !important;
}

h1,
h2 {
    font-family: 'gardenscregular';
    font-size: 3.5vmax;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 10vmax;
}

h2 {
    font-family: 'gardenscregular';
    padding: 20px;
    font-size: 3vmax;
    text-align: center;


}

.bloc {
    margin: 0, auto;
    padding: 5%;
    background-color: rgba(0, 0, 0, .70);

}

.separate {
    width: 100%;
}

.imgBloc {
    width: 100%;
    height: 40vmax;
    border-radius: 2%;
    cursor: pointer;
}

.imgGlob {
    width: 50%;
    margin-bottom: 5%;
    position: relative;
}

.onFocusFalse {
    display: none !important;
}

.bx-zoom-in {

    font-size: 7vmax;
}

.imgHover {
    background-color: rgba(0, 0, 0, .70);
    width: 100%;
    height: 100%;
    border-radius: 2%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    transition: .5s;


}

.imgHover:hover {
    opacity: 1;
    transition: .5s;

}

.align-center {
    align-self: center;
}

.bx-zoom-in {

    color: #009059;
    cursor: pointer;
}

.imageZoom {
    position: absolute;
    top: 0;
}

.top {
    text-align: center;
    width: 100%;
    height: 80%;
}

.bx-zoom-in:hover {
    color: whitesmoke;
    transition: .5s;
}

.bloctext {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloctext hr {
    width: 40%;


}

.bloctext p {
    font-family: 'gardenscregular';
    font-size: 2.5vmax;
    color: whitesmoke;
    text-align: center;
}


/*scroll event*/
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

/*-------*/

/*overlay image*/
.blocOverlay {
    width: 100%;
    height: 100vmax;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .70);
    z-index: 99999;
    opacity: 0;
}

.overlay-off {
    display: none;
}

.bx-x {
    color: #172b02;
    font-size: 5vmax;
    cursor: pointer;
    transition: .5s;


}

.bx-x:hover {
    color: white;
    z-index: 1000;

    transition: .5s;
}

.imgOverlay {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50vmax;
    height: 40vmax;
}

.top-overlay {
    width: 50vmax;
    height: 100px;
    background-color: rgba(0, 0, 0, .95);
    display: flex;
    justify-content: end;

}

.blocContent {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5%;
 
}
/*SLIDER ENTRETIENT*/
slider {
    display: flex;
    justify-content: center;
}
slider .imgGlob {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    
}
slider img {
    width: 100%;
    height: 40vmax;
    margin: 0 auto;
    border-radius: 2%;
}
.slide {
    display: none;
}
.slide.active {
    display: block;
    animation: fade 0.8s;
}
.cont-btn {
    display: flex;
    font-size: 5vmax;
    color : #aed5a8;
    justify-content: center;
    
}
.btn-nav {
    cursor: pointer;
    transition: all .5s;
    align-self: center;
}
.btn-nav:hover {
    color: #5e924c !important;
    transition: all .5s;
}
.maintains p {
    color: whitesmoke;
    text-align: center;
    font-family: 'gardenscregular';
    font-size: 2em;
}
.important {
    font-weight: bold;
}
.maintains h2 {
    margin-bottom: 0;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*-------*/

@media screen and (max-width : 534px) {
    .imgOverlay {
        width: 40vmax;
        height: 30vmax;
    }

    .top-overlay {
        width: 40vmax;
        height: 50px;
    }
    slider img {
        height: 
        25vmax;
    }
}

/*-------*/